<!DOCTYPE html>
<html>
    <head>
        <title>Demo HTML</title>
    </head>
    <body>
        <form method="POST" action="/users">
            <label>Name
            <input type="text" name="name" value="<%= locals.name %>">
            </label>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>